In [2]:
import pandas as pd
df = pd.read_csv('./task2.csv')

In [3]:
df.describe()

                  ID        Count   Percentage  It became a relationship
count    1896.000000  1896.000000  1896.000000               1896.000000
mean   292999.394750   446.881267     0.254098                  0.350738
std       227.809806   494.110578     0.220809                  0.477327
min    292881.000000     0.000000     0.000000                  0.000000
25%    292888.196925     0.000000     0.000000                  0.000000
50%    292893.904400   400.439633     0.257873                  0.000000
75%    292902.568750   845.560798     0.396787                  1.000000
max    293785.000000  1969.000000     1.000000                  1.000000

In [4]:
from sklearn.linear_model import LogisticRegression

In [5]:
df

,ID,Segment type,Segment Description,Answer,Count,Percentage,It became a relationship
0,292890.8970,web,"Meridian, Idaho",No,0.000000,0.000000,0
1,292887.9870,web,"Meridian, Idaho",No,0.000000,0.000000,0
2,292894.0656,gender,"Meridian, Idaho",No,499.173606,0.225255,0
3,292887.1180,web,"Meridian, Idaho",No,0.000000,0.000000,0
4,292893.6561,gender,"Meridian, Idaho",No,455.925963,0.211360,0
...,...,...,...,...,...,...,...
1891,292887.5496,web,"Meridian, Idaho",No,0.000000,0.000000,0
1892,292881.6932,mobile,"Meridian, Idaho",No,1203.190399,0.312360,0
1893,292900.8499,gender,"Meridian, Idaho",No,806.378820,0.488025,0
1894,292893.8600,gender,"Meridian, Idaho",No,1149.529381,0.488984,0
1895,292890.2944,web,"Meridian, Idaho",No,0.000000,0.000000,0

In [35]:
df2 = df.copy()

In [36]:
df2.columns = ['ID', 'ST', 'SD', 'Answer', 'Count',
       'Percentage', 'Relationship']

In [37]:
df2

,ID,ST,SD,Answer,Count,Percentage,Relationship
0,292890.8970,web,"Meridian, Idaho",No,0.000000,0.000000,0
1,292887.9870,web,"Meridian, Idaho",No,0.000000,0.000000,0
2,292894.0656,gender,"Meridian, Idaho",No,499.173606,0.225255,0
3,292887.1180,web,"Meridian, Idaho",No,0.000000,0.000000,0
4,292893.6561,gender,"Meridian, Idaho",No,455.925963,0.211360,0
...,...,...,...,...,...,...,...
1891,292887.5496,web,"Meridian, Idaho",No,0.000000,0.000000,0
1892,292881.6932,mobile,"Meridian, Idaho",No,1203.190399,0.312360,0
1893,292900.8499,gender,"Meridian, Idaho",No,806.378820,0.488025,0
1894,292893.8600,gender,"Meridian, Idaho",No,1149.529381,0.488984,0
1895,292890.2944,web,"Meridian, Idaho",No,0.000000,0.000000,0

In [38]:
def f(s):
    if(s=="Yes"):
        return 1
    else:
        return 0

df2.Answer = df2.Answer.apply(f)

In [39]:
def f(s):
    if(s=="web"):
        return 0
    elif(s=="gender"):
        return 1
    elif(s=="university"):
        return 2
    else:
        return 3

df2.ST = df2.ST.apply(f)

In [40]:
df2.ST.unique()

array([0, 1, 2, 3])

In [41]:
df3=df2.copy()

In [42]:
df2.drop(["ID","SD"],axis=1,inplace=True)

In [43]:
x=df2.drop("Relationship",axis=1)
y=df2.Relationship
from sklearn.model_selection import train_test_split
train, test = train_test_split(df2,test_size=0.20)

In [44]:
model = LogisticRegression()
model.fit(x,y)

LogisticRegression()

In [45]:
model.score(x,y)

0.7800632911392406

In [49]:
x1=train.drop("Relationship",axis=1)
y1=train.Relationship

In [50]:
model2 = LogisticRegression()
model2.fit(x1,y1)
x2=test.drop("Relationship",axis=1)
y2=test.Relationship

In [52]:
model2.score(x2,y2)

0.7868421052631579

In [66]:
from sklearn.ensemble import RandomForestClassifier

In [72]:
model3=RandomForestClassifier()
model3.fit(x1,y1)
model3.score(x2,y2)

0.8973684210526316

In [73]:
model4=RandomForestClassifier(n_estimators=45, max_depth=6, random_state=105)
model4.fit(x1,y1)
model4.score(x2,y2)

0.8947368421052632

In [85]:
import numpy as np
xo=[2.5,1.75,0.5,3.0]
a=np.array(xo).reshape(-1,1)
yo=[4.0,2.5,0.0,5.0]
b=np.array(yo)

In [87]:
from sklearn.linear_model import LinearRegression
modelf = LinearRegression()
modelf.fit(a,b)

LinearRegression()

In [91]:
c=np.array([1.0]).reshape(-1,1)
modelf.predict(c)

1.0

In [112]:
task1 = pd.read_csv("./task1.csv")
t1f = task1[(task1.G3>=15) & (task1.higher=="yes")]
print(t1f.higher.count())
task1[(task1.higher=="yes")].higher.count()

73

375

In [113]:
73/375*100

19.466666666666665

In [122]:
a={}
for i in task1.Dalc.unique():
    a[i]=(task1[task1.Dalc==i].G3.mean())
a

{1: 10.731884057971014,
 2: 9.253333333333334,
 5: 10.666666666666666,
 3: 10.5,
 4: 9.88888888888889}

In [127]:
task1[task1.romantic=='yes'].G3.mean() - task1[task1.romantic=='no'].G3.mean()

-1.2607443253831079

In [129]:
task1[task1.sex=='F'].G3.mean()

9.966346153846153

In [130]:
task1[task1.sex=='M'].G3.mean()

10.914438502673796

In [132]:
task1[task1.sex=='F'].studytime.mean()

2.2788461538461537

In [133]:
task1[task1.sex=='M'].studytime.mean()

1.7647058823529411

In [135]:
task1[(task1.sex=='F')&(task1.address=='U')].G3.mean()

10.152439024390244

In [136]:
task1[(task1.sex=='M')&(task1.address=='R')].G3.mean()

9.75

In [138]:
task1[(task1.sex=='M')&(task1.activities=='yes')].sex.count()

105

In [139]:
task1[(task1.sex=='F')&(task1.activities=='yes')].sex.count()

96

In [140]:
task1[(task1.sex=='M')].sex.count()

187

In [141]:
task1[(task1.sex=='F')].sex.count()

208

In [143]:
bp=task1[(task1.sex=='M')&(task1.activities=='yes')].sex.count()/task1[(task1.sex=='M')].sex.count()*100
bp

56.14973262032086

In [144]:
gp=task1[(task1.sex=='F')&(task1.activities=='yes')].sex.count()/task1[(task1.sex=='F')].sex.count()*100
gp

46.15384615384615

In [151]:
tomper=task1[task1.G3==task1.G3.max()]
print(f"{tomper.sex},{tomper.school},{tomper.romantic},{tomper.absences}")

47    M
Name: sex, dtype: object,47    GP
Name: school, dtype: object,47    no
Name: romantic, dtype: object,47    4
Name: absences, dtype: int64

In [153]:
TotalAlc = task1.Walc + task1.Dalc
TotalAlc

0      2
1      2
2      5
3      2
4      3
      ..
390    9
391    7
392    6
393    7
394    6
Length: 395, dtype: int64

In [155]:
task1.famrel.corr(TotalAlc)

-0.10842656102734985